<h1>Greeter#goodbye</h1>
<h2>See you later <%= @name %> </h2>
<p>The time now is <%= formatted_time(@time) %> </p>
<p>Find me in app/views/greeter/hello.html.erb</p>

<p></p>
<p><%= link_to "Google MX", "https://www.google.com.mx/" %></p>
<p><%= link_to "Hello section", greeter_hello_url %>  </p>