<h1>Greeter#hello</h1>
<h2>Greetings <%= @name %> </h2>
<p>The time now is <%= formatted_time(@time) %> </p>
<p>Times "hello" have been rendered <%= @times_displayed %> </p>
<p>Find me in app/views/greeter/hello.html.erb</p>

<p></p>
<p><%= link_to "Google MX", "https://www.google.com.mx/" %></p>
<p><%= link_to "Goodbye section", greeter_goodbye_path %>  </p>